@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

body {
  margin: 0 10% 0 10%;
  font-family: 'Poller One', cursive;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 40px;
}

.project-header {
  text-align: center;
}

.project-container {
  display: flex;
  gap: 10px;
}

.project-img {
  width: 100%;
}

.profile-img {
  width: 500px;
  float: right;
}

.img {
  border-radius: 20px;
}

.geniidex {
  text-align: center;
  width: 50%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-right {
  display: flex;
  margin: 16px 0 16px 0;
  gap: 10px;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
}

.about-contacts {
  display: flex;
  flex-direction: column;
}

.about-resume {
  display: flex;
  flex-direction: column;
}

.project-description-container {
  margin-bottom: 20px;
}

.project-description {
  margin:0 auto;
  width: 50%;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.project-link {
  color: blue;
}

.about-desc {
  font-size: 40px;
  margin: 50px 0 100px 0;
}

.nav-link {
  color: gray;
}

.footer-text {
  color: gray;
}

.repo-live-link {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

@media screen and (max-width: 849px) {
  body {
    margin: 0 10px 0 10px;
  }

  .img {
    width: 100%;
  }

 .profile-container {
  flex-direction: column-reverse;
 }

 .about-desc {
  font-size: 20px;
  text-align: center;
 }

 .about-reach {
  text-align: center;
 }

 .about-section {
  max-width: 100%;
  font-size: 11px;
 }

 .about-contact-resume {
  text-align: center;
 }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
  body {
    margin: 0 10px 0 10px;
  }
}