body {
  margin: 0 10% 0 10%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  margin-top: 50px;
  font-size: 40px;
}

.project-header {
  text-align: center;
}

.project-container {
  display: flex;
  gap: 10px;
}

.project-img {
  width: 100%;
}

.geniidex {
  text-align: center;
  width: 50%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-right {
  display: flex;
  margin: 16px 0 16px 0;
  gap: 10px;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
}

.about-contacts {
  display: flex;
  flex-direction: column;
}

.project-description-container {
  margin-bottom: 20px;
}

.project-description {
  margin:0 auto;
  width: 50%;
  text-align: center;
}